span{
    display:inline-block;
}
.paragraph
{
    color:white;
    font-size:0;
    font-weight:bold;
}
.letter
{
    font-size: 23px;
}
.btn
{
    background-color:rgb(230, 193, 29);
    color:white;
}
.result{
    color:white;
    font-weight: bold;
}
.green
{
    background-color:rgb(255, 255, 255);
    color: rgb(64, 149, 177);
}
.red{
    background-color:rgb(221, 117, 117);
}
.hidden
{
    display:none;
}
#interval
{
    color:white;
    font-size:20px;
}