{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="../static/index.css">
{% endblock %}
{% block title%}
    typeSpeed
{% endblock %}
{% block body %}
    <div id="interval" class="text-right px-5 py-3">5</div>
    <div class="container my-5">
        <div class="hidden" id="word_c">{{word_c}}</div>
        <div class="paragraph py-5">
            <p>
            {% for p in paragraph %}
                <span class="word ">
                    {% for l in p%}
                        <span class="letter">{{l}}</span>
                    {% endfor %}
                    <span class="letter">&nbsp;</span>
                </span>
            {% endfor %}
            </p>
        </div>
        <div class="">
            <input class ="form-control"type="text" id="input" placeholder="type here" onblur="this.focus()">
        </div>
        <div class="my-4" id="buttons">
        <button type="button" class="btn px-4 py-2" id="btn">Start</button>
        </div>
        <div id="results" class="mt-3"></div>
    </div>
    <script src ="../static/index.js"></script>
{% endblock %}